* {
    margin: 0;
    padding: 0;
}

#allimages {
    margin: 0px auto;
    max-width: 90%;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

.imgholder {
    margin: 15px;
    text-align: center;
}

.mainimg {
    box-shadow: 0px 0px 5px black;
    width: 120px;
    height: 180px;
    margin: 10px;
}

.border {
    border: 5px solid #e61a1a;
}